.node {
	cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: #bbb;
  stroke-width: 3px;
}

.node text {
  font: 8px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.input{
	display: inline-block;
	margin-bottom: 2rem;
	width: 100%;
}

textarea{
	width: 100%;
	height: 100px;
	display: block;
}

.applyBtn{
	margin-top: 10px;
	display: block;
	clear: right;
}

.errorWords{
	border: 1px solid;
	display : none;
	margin-bottom:  15px;
	max-width: 36rem;
	padding: 8px;
	color: #D8000C;
	background-color: #FFBABA;
}

.graphOutput{
    overflow: auto;
}